<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Before-your-start:" data-toc-modified-id="Before-your-start:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Before your start:</a></span></li><li><span><a href="#Challenge-1---Index-Functions" data-toc-modified-id="Challenge-1---Index-Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Challenge 1 - Index Functions</a></span></li><li><span><a href="#Challenge-2---Advanced-Functions" data-toc-modified-id="Challenge-2---Advanced-Functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Challenge 2 - Advanced Functions</a></span></li><li><span><a href="#Challenge-3---Method-Chaining" data-toc-modified-id="Challenge-3---Method-Chaining-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Challenge 3 - Method Chaining</a></span></li></ul></div>

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
import re

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,10,327,111,4,4.0,4.5,9.00,1,0.84

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:
admissions.isna().sum()
# No null values!

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
# Your code here:
admissions.set_index(['Serial No.'],inplace=True)
admissions.head(10)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
6,321,109,3,3.0,4.0,8.20,1,0.75
7,308,101,2,3.0,4.0,7.90,0,0.68
8,302,102,1,2.0,1.5,8.00,0,0.50
9,323,108,3,3.5,3.0,8.60,0,0.45
10,327,111,4,4.0,4.5,9.00,1,0.84

In [6]:
#  A dataset identifier should be a globally unique value that is associated with an individual metadata record.

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# Your code here:
len(admissions)

385

In [8]:
len(admissions['GRE Score'].unique())

49

In [9]:
len(admissions['CGPA'].unique())

168

In [10]:
admissions[admissions['GRE Score']==337]

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92

In [11]:
admissions['GRE Score'].value_counts()

324    16
312    16
314    14
322    14
321    13
316    12
327    12
317    12
320    12
311    11
325    11
313    11
308    11
323    10
315    10
326    10
329     9
319     9
318     9
300     9
310     8
331     8
307     8
304     8
301     8
299     8
305     7
298     7
340     7
334     7
330     6
332     6
306     6
328     6
296     5
309     5
303     5
302     5
336     5
335     4
333     4
295     4
338     4
297     4
339     3
294     2
290     2
337     1
293     1
Name: GRE Score, dtype: int64

In [12]:
admissions['CGPA'].value_counts()

8.00    9
8.56    6
8.64    6
8.76    6
9.04    5
       ..
8.72    1
9.87    1
9.65    1
8.09    1
9.43    1
Name: CGPA, Length: 168, dtype: int64

In [13]:
admissions.groupby(['GRE Score','CGPA']).count()

                TOEFL Score  University Rating  SOP  LOR  Research  \
GRE Score CGPA
290       7.46            1                  1    1    1         1
          7.56            1                  1    1    1         1
293       7.80            1                  1    1    1         1
294       7.36            1                  1    1    1         1
          7.64            1                  1    1    1         1
...                     ...                ...  ...  ...       ...
340       9.60            1                  1    1    1         1
          9.66            1                  1    1    1         1
          9.74            1                  1    1    1         1
          9.91            1                  1    1    1         1
          9.92            1                  1    1    1         1

                Chance of Admit
GRE Score CGPA
290       7.46                1
          7.56                1
293       7.80                1
294       7.36                1
          7.64                1
...                         ...
340       9.60                1
          9.66                1
          9.74                1
          9.91                1
          9.92                1

[385 rows x 6 columns]

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [14]:
admissions.shape

(385, 8)

In [15]:
# Your code here:
admissions.set_index(['GRE Score','CGPA'],inplace=True)
admissions.reset_index(inplace=True)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90

In [16]:
admissions.shape

(385, 8)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [17]:
# Your code here:
CGPA_9=admissions[(admissions['CGPA']>9) & (admissions['Research']==1)]
CGPA_9.head(10)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
4,330,9.34,115,5,4.5,3.0,1,0.90
10,328,9.10,112,4,4.0,4.5,1,0.78
19,328,9.50,116,5,5.0,5.0,1,0.94
20,334,9.70,119,5,5.0,4.5,1,0.95
21,336,9.80,119,5,4.0,3.5,1,0.97
28,338,9.40,118,4,3.0,4.5,1,0.91
29,340,9.60,114,5,4.0,4.0,1,0.90
30,331,9.80,112,5,4.0,5.0,1,0.94
31,320,9.20,110,5,5.0,5.0,1,0.88

In [18]:
CGPA_9.shape

(101, 8)

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [19]:
# Your code here:
change_of_admit=admissions['Chance of Admit'][(admissions['CGPA']>9) & (admissions['SOP']<3.5)].mean()
round(change_of_admit,3)

0.802

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [20]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    return (col-np.mean(col))/np.std(col)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [21]:
# Your code here:
# Axis = 0 --> Aplly function in rows!
admissions[['CGPA_std', 'GRE_std', 'LOR_std']] = admissions[['CGPA', 'GRE Score', 'LOR']].apply(standardize ,axis=0)
admissions.head()
# Is it OK?

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338

In [22]:
admissions.shape

(385, 11)

We will generate the decision choice at random using the code below. Please run the cell.

In [23]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])
# decision_choice

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [24]:
# Your code here:
admissions['deciding_column']=admissions.lookup(admissions.index, decision_choice)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.456297
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [25]:
# Your code here:
admissions['decision']=[1 if row >0.8 else 0 for row in admissions['deciding_column']]
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.456297,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0

In [26]:
# Standardizing means that zero is the new mean and the new standarddeviation is 1. A negative standardized value means it is below the mean

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [27]:
# Your code here:
applicants_accepted= (admissions['decision']==1).sum()
print(f'{applicants_accepted} applicants will be accepted to the program')

84 applicants will be accepted to the program

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [28]:
# Your code here:
admissions.columns = admissions.columns.str.replace(' ', '_').str.lower().str.replace(r'[^a-zA-Z0-9_]\s?',r'',regex=True)
admissions.columns

Index(['gre_score', 'cgpa', 'toefl_score', 'university_rating', 'sop', 'lor',
       'research', 'chance_of_admit', 'cgpa_std', 'gre_std', 'lor_std',
       'deciding_column', 'decision'],
      dtype='object')

In [29]:
admissions.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.456297,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0

In [30]:
admissions.shape

(385, 13)

In [31]:
# Is the regex OK?

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [34]:
# Your code here:
admissions['adjusted_gre']=np.where(admissions['university_rating']>=4,admissions['gre_score'].apply(lambda x:x+10),admissions['gre_score'])
admissions['adjusted_gre']

0      347
1      316
2      322
3      314
4      340
      ...
380    324
381    325
382    340
383    312
384    343
Name: adjusted_gre, Length: 385, dtype: int64

In [35]:
# CUT --> Segment and sort data values into bins.
admissions['bins']=pd.cut(admissions['adjusted_gre'], bins=4,labels=['bad','not bad','good','very good'], include_lowest=True)
admissions.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,bins
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1,347,very good
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0,316,not bad
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.456297,0,322,good
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0,314,not bad
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0,340,very good